
@{
    ViewData["Title"] = "BookMark";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<DataAccessLayer_DAL.Models.BookMark>;
}

<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">BookMark</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->
<!-- Dashboard Content -->
<div class="dashboard-content listing-section ">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li>
                    <a asp-controller="User" asp-action="Index">
                        <i class=" feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Detail">
                        <i class="fa-solid fa-user"></i> <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="ChangePassword">
                        <i class="feather-lock"></i> <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Listing">
                        <i class="feather-list"></i> <span>My Listing</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="BookMark">
                        <i class="feather-bookmark"></i> <span>BookMark</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Subscription">
                        <i class="feather-list"></i> <span>My Subscription</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Logout">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dash-listingcontent dashboard-info">
            <div class="dash-cards card">
                <div class="card-header">
                    <h4 class="text-c">BookMark</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="listing-table datatable" id="listdata-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Listing</th>
                                    <th>Price</th>
                                    <th>User</th>
                                    <th>CreatedAt</th>                               
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) 
                                 { 
                                     <tr> 

                                       <td>
                                            <a asp-action="Detail" asp-controller="Listing" asp-route-id="@item.ListingId"><img class="img-fluid avatar-img" src="/@item.Listing.Image" alt=""></a>
                                        </td> 
                                        <td>
                                            <a asp-action="Detail" asp-controller="User">@item.Listing.Title</a>
                                        </td> 
                                        <td> 
                                            @item.Listing.Price
                                         </td> 
                                          <td><span class="status-text">@item.User.FullName</span></td>  
                                         <td><span class="views-count"> @(item.Listing.CreatedAt.Value.ToString("dd-MM-yyyy"))</span></td>
                                        <td >
                                            <div class="d-flex justify-content-center">
                                                <a asp-action="Detail" asp-controller="Listing" asp-route-id="@item.ListingId" class="action-btn btn-view"><i class="feather-eye"></i></a>
                                                <a class="delete-table action-btn btn-view" asp-action="DeleteToBookmark" asp-controller="User" asp-route-listingId="@item.ListingId">
                                                    <img src="~/assets/admin/assets/img/icons/delete.svg" alt="svg">
                                                </a>
                                            </div>
                                        </td>
                                  
                                   </tr> 
                                 }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
