@model IEnumerable<DataAccessLayer_DAL.Models.Category>
@{
    ViewData["bonus"] = "page-settings";
    ViewData["title"] = "Category Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int index = 1;
}

<div class="content-page-header content-page-headersplit mb-0">
    <h5>Categories</h5>
    <div class="list-btn">
        <ul>
            <li>
                <div class="page-headers">
                    <div class="search-bar">
                        <span><i class="fe fe-search"></i></span>
                        <form id="myForm" asp-controller="Category" asp-action="Search" method="get">
                            <input type="text" name="keyword" placeholder="Search" class="form-control">
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="filter-sorting">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="filter-sets"><img src="~/assets/admin/assets/img/icons/filter1.svg" class="me-2" alt="img">Filter</a>
                        </li>
                        <li>
                            <span><img src="~/assets/admin/assets/img/icons/sort.svg" class="me-2" alt="img"></span>
                            <div class="review-sort">
                                <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option>Sort by A - Z</option>
                                    <option>Sort by Z - A</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="btn btn-primary" asp-controller="Category" asp-action="Create"><i class="fa fa-plus me-2"></i>Add Categories </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 ">
        <div class="table-resposnive table-div">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@index</td>

                            <td>@c.Name</td>
                            <td>@c.Description</td>
                            <td>@c.Status</td>
                            <td>
                                <div class="table-actions d-flex">
                                    <a class="delete-table me-2" asp-controller="Category" asp-action="Edit" asp-route-id="@c.CategoryId">
                                        <img src="~/assets/admin/assets/img/icons/edit.svg" alt="svg">
                                    </a>
                                    <a class="delete-table" data-id="@c.CategoryId" data-bs-toggle="modal" data-bs-target="#delete-item">
                                        <img src="~/assets/admin/assets/img/icons/delete.svg" alt="svg">
                                    </a>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Delete -->
<div class="modal fade" id="delete-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Categories</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fe fe-x"></i>
                </button>
            </div>
            <form asp-action="Delete" asp-controller="Category" method="post">
                <div class="modal-body py-0">
                    <div class="del-modal">
                        <p>Are you sure want to Delete?</p>
                        <!-- ID được chèn động thông qua JavaScript -->
                        <input type="hidden" name="id" id="category-id" />
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete -->
<script>
    // Bắt sự kiện khi Modal mở
    const deleteModal = document.getElementById('delete-item');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Lấy phần tử nút bấm đã kích hoạt Modal
        const button = event.relatedTarget;
        // Lấy giá trị ID từ data-id
        const categoryId = button.getAttribute('data-id');

        // Cập nhật giá trị ID vào input hidden trong Modal
        const categoryIdInput = deleteModal.querySelector('#category-id');
        categoryIdInput.value = categoryId;
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("myForm");

        // Lắng nghe sự kiện keydown trên toàn bộ form
        form.addEventListener("keydown", function (event) {
            // Kiểm tra nếu phím được nhấn là Enter
            if (event.key === "Enter") {
                event.preventDefault(); // Ngăn trình duyệt thực hiện hành động mặc định (nếu cần)
                form.submit(); // Submit form
            }
        });
    });

</script>