@model DataAccessLayer_DAL.Models.Listing
@{
    ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-xl-8">
		<div class="serv-profile">
			<h2>@Model.Title</h2>
			<ul>
				<li>
					<span class="badge">@Model.Category.Name</span>
				</li>
				<li class="service-map"><i class="fe fe-map-pin"></i> @Model.City.Name</li>
			</ul>
		</div>
		<div class="service-images big-gallery">
			<img src="/@Model.Image" class="img-fluid" alt="img">
			<a href="/@Model.Image" data-fancybox="gallery" class="btn btn-show"><i class="fe fe-image me-1"></i> Show all photos</a>
		</div>
		<div class="service-wrap">
			<h5>Service Details</h5>
			@Html.Raw(Model.Description)
		</div>
		<div class="service-wrap provide-service">
			<h5>Service Provider</h5>
			<div class="row">
				<div class="col-md-4">
					<div class="provide-box">
						<img src="/@Model.User.Image" class="img-fluid" alt="img">
						<div class="provide-info">
							<h6>@Model.User.FullName</h6>
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="provide-box">
						<span><i class="fe fe-user"></i></span>
						<div class="provide-info">
							<h6>Member Since</h6>
							<p>Apr 2020</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="provide-box">
						<span><i class="fe fe-map-pin"></i></span>
						<div class="provide-info">
							<h6>Address</h6>
							<p>@Model.User.Address</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="provide-box">
						<span><i class="fe fe-mail"></i></span>
						<div class="provide-info">
							<h6>Email</h6>
							<p><a href="" class="__cf_email__" >@Model.User.Email</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="provide-box">
						<span><i class="fe fe-phone"></i></span>
						<div class="provide-info">
							<h6>Phone</h6>
							<p>@Model.User.PhoneNumber</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="social-icon provide-social">
						<ul>
							<li>
								<a href="#" target="_blank"><i class="fe fe-instagram"></i> </a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fe fe-twitter"></i> </a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fe fe-instagram"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fe fe-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4">
		<div class="card card-provide">
			<div class="card-body">
				<div class="provide-widget">
					<div class="service-amount">
						<h5>$ @string.Format("{0:N2}", @Model.Price)</h5>
						<p class="serv-review"><i class="fa-solid fa-star"></i> <span>4.9 </span>(255 reviews)</p>
					</div>
					<div class="serv-proimg">
						<img src="/@Model.User.Image" class="img-fluid" alt="img">
						<span><i class="fa-solid fa-circle-check"></i></span>
					</div>
				</div>
				
				<div class="package-widget pack-service">
					<h5>Additional Service</h5>
					<ul>
						@foreach (var img in (IEnumerable<DataAccessLayer_DAL.Models.Image>)ViewBag.image)
						{
							<div class="add-serving" style="width: 245.6px; margin-right: 24px;">
								<div class="gallery-widget">
									<a href="/@img.ImagePath" data-fancybox="gallery">
										<img class="img-fluid" alt="Image" src="/@img.ImagePath">
									</a>
								</div>
							</div>
						}
						
						
						
						
					</ul>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

