@model IEnumerable<DataAccessLayer_DAL.Models.Listing>
@{
    ViewData["bonus"] = "page-settings";
    ViewData["title"] = "Listing Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int index = 1;
}

<div class="content-page-header content-page-headersplit">
                    <h5>All Listings</h5>
                    <div class="list-btn">
                        <ul>
                            <li>
                                <div class="page-headers">
                                    <div class="search-bar">
                                        <span><i class="fe fe-search"></i></span>
                                        <form id="myForm" asp-controller="Listing" asp-action="Search" method="get">
                                            <input type="text" name="keyword" placeholder="Search" class="form-control">
                                         </form>
                                    </div>
                                </div>
                            </li>
                           
                            <li>
                                <a class="btn btn-primary" asp-controller="Listing" asp-action="Create" ><i class="fa fa-plus me-2"></i>Add Listing </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ">
                        <a class="table-resposnive table-div">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Priority</th>
                                        <th>Created By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                
                    <tbody>
                        @foreach (var l in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>
                                    <a href="view-listing.html" class="table-imgname">
                                        @* <img src="~/assets/admin/assets/img/services/service-12.jpg" class="me-2" alt="img"> *@
                                        <span>@l.Title</span>
                                    </a>
                                </td>
                                <td>@l.Category.Name</td>
                                <td>@l.Price</td>
                                <td>@l.CreatedAt</td>
                                 <td>
                                     <h6 class="@(l.Status == 1 ? "badge-active" : "badge-inactive") ">@(l.Status == 1 ? "Active" : "Inactive")</h6>
                                 </td>
                                <td>
                                    <h6 class="@(l.Priority == 1 ? "badge-active" : "badge-inactive") ">@(l.Priority == 1 ? "Active" : "Inactive")</h6>
                                </td>
                               

                                <td>
                                    <a href="javascript:void(0);" class="table-profileimage">
                                        @*  <img src="~/assets/admin/assets/img/customer/user-02.jpg" class="me-2" alt="img"> *@
                                        <span>@l.User.FullName</span>
                                    </a>
                                </td>
                                <td>
                                    <div class="table-actions d-flex">
                                    <a class="delete-table me-2" asp-controller="Listing" asp-action="Details" asp-route-id="@l.ListingId">
                                            <img src="~/assets/admin/assets/img/icons/eye.svg" alt="svg">
                                        </a>
                                        <a class="delete-table me-2" asp-controller="Listing" asp-action="Edit" asp-route-id="@l.ListingId">
                                            <img src="~/assets/admin/assets/img/icons/edit.svg" alt="svg">
                                        </a>
                                        <a class="delete-table" data-id="@l.ListingId" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                            <img src="~/assets/admin/assets/img/icons/delete.svg" alt="svg">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
            </table>
                        </div>
                    </div>
                </div>
<!-- Delete -->
<div class="modal fade" id="delete-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Listing</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fe fe-x"></i>
                </button>
            </div>
            <form asp-action="Delete" asp-controller="Listing" method="post">
                <div class="modal-body py-0">
                    <div class="del-modal">
                        <p>Are you sure want to Delete?</p>
                        <!-- ID được chèn động thông qua JavaScript -->
                        <input type="hidden" name="id" id="listing-id" />
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete -->
<script>
    // Bắt sự kiện khi Modal mở
    const deleteModal = document.getElementById('delete-item');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Lấy phần tử nút bấm đã kích hoạt Modal
        const button = event.relatedTarget;
        // Lấy giá trị ID từ data-id
        const categoryId = button.getAttribute('data-id');

        // Cập nhật giá trị ID vào input hidden trong Modal
        const categoryIdInput = deleteModal.querySelector('#listing-id');
        categoryIdInput.value = categoryId;
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("myForm");

        // Lắng nghe sự kiện keydown trên toàn bộ form
        form.addEventListener("keydown", function (event) {
            // Kiểm tra nếu phím được nhấn là Enter
            if (event.key === "Enter") {
                event.preventDefault(); // Ngăn trình duyệt thực hiện hành động mặc định (nếu cần)
                form.submit(); // Submit form
            }
        });
    });

</script>


