@model DataAccessLayer_DAL.Models.Listing
@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Details Description  Section-->
<section class="details-description" style="margin-top: 80px;">
	<div class="container">
		<div class="about-details">
			<div class="about-headings">
				<div class="author-img">
					<img src="/@Model.User.Image">
				</div>
				<div class="authordetails">
					<h5>@Model.Title</h5>
					@* <p>Luxury hotel in the heart of Blommsbury</p> *@
					<div class="rating">
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fas fa-star filled"></i>
						<i class="fa-regular fa-star rating-color"></i>
						<span class="d-inline-block average-rating"> 4.5 </span>
					</div>
				</div>
			</div>
			<div class="rate-details">
				<h2>$ @string.Format("{0:N2}", @Model.Price) </h2>
				
			</div>
		</div>
		<div class="descriptionlinks">
			<div class="row">
				<div class="col-lg-7">
					<ul>
					@if (ViewBag.IsBookmarked) // This property will be passed from your controller
					{
							<li><a asp-action="DeleteToBookmark" asp-controller="Listing" asp-route-listingId="@Model.ListingId" style="color: red;"><i class="feather-bookmark"></i> Remove from bookmark</a></li>
					}
					else
					{
						<li><a asp-action="SaveToBookmark" asp-controller="Listing" asp-route-listingId="@Model.ListingId"><i class="feather-bookmark"></i> Save to bookmark</a></li>
					}
					</ul>
				</div>
				<div class="col-lg-5">
					<div class="callnow">
						<a href="contact.html"> <i class="feather-phone-call"></i>  Call Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/Details Description  Section-->
<!--Details Main  Section-->
<div class="details-main-wrapper listing-section ">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<!--Gallery Section-->
				<div class="card gallery-section ">
					<div class="card-header ">
						<img src="~/assets/img/galleryicon.svg" alt="gallery">
						<h4>Gallery</h4>
					</div>
					<div class="card-body">
						<div class="gallery-content">
							<div class="row">
								@foreach(var img in (IEnumerable<DataAccessLayer_DAL.Models.Image>)ViewBag.image)
								{
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="gallery-widget">
											<a href="/@img.ImagePath" data-fancybox="gallery1">
												<img class="img-fluid" alt="Image" src="/@img.ImagePath">
											</a>
										</div>
									</div>
								}
								
								
							</div>
						</div>
					</div>
				</div>
				<!--/Gallery Section-->

				<div class="card ">
					<div class="card-header">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<h4>Description</h4>
					</div>
					<div class="card-body">
						@Html.Raw(Model.Description)
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="rightsidebar">
					<div class="card">
						<h4><img src="~/assets/img/details-icon.svg" alt="details-icon"> Details</h4>
						<ul>
							<li>Contract <span>@Model.Category.Name</span></li>
							<li>Location <span>@Model.City.Name</span></li>
							@if(Model.ContactViaForm == 1)
							{
								<li>Email <span>@Model.User.Email</span></li>
								<li>Phone <span>@Model.User.PhoneNumber</span></li>
							}
							
							
						</ul>
					</div>
					
					
					<div class="card">
						<h4> <i class="feather-user"></i> Author</h4>
						<div class="sidebarauthor-details align-items-center">
							<div class="sideauthor-img">
								<img src="~/assets/img/profiles/avatar-12.jpg" alt="author">
							</div>
							<div class="sideauthor-info">
								<p class="authorname">@Model.User.FullName</p>
								<p>@(Model.User.Role == 0 ? "Private Seller" : Model.User.Role == 1 ? "Agent" : "Admin")</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Details Main Section -->

