@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DataAccessLayer_DAL.Models.Listing>
<!-- Banner -->
<section class="banner-section banner-nine" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-contents">
                    <h1 class="aos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Find Your Dream Home</h1>
                    <h6 class="mb-0 aos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Only real estate platform with 10,000+ highly rated sellers</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->
<!-- Search Filter Section -->
<section class="car-search-filter realestate-search-filter  aos" data-aos="fade-up" data-aos-delay="400">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-filter-section">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Property</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="search-tab-col">
                                <form asp-controller="Listing" asp-action="Index" method="get">
                                    <div class="row align-items-center search-form">
                                        <div class="col-12 col-lg-10 datepicker-col search-group">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <div class="d-flex real-estate-search">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <span><i class="feather-map-pin"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 estate-input">
                                                            <input type="text" name="keyword" class="border-0 text-truncate px-0 form-control" placeholder="Search location of Property">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="d-flex real-estate-search real-select">
                                                        <div class="flex-shrink-0 d-flex align-items-center">
                                                            <div class="icon-blk rounded-circle">
                                                                <span><i class="feather-users"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 estate-input">
                                                            <select name="role" class="form-control select">
                                                                <option value="">Select Role</option>
                                                                <option value="private-seller">Private Seller</option>
                                                                <option value="agent">Agent</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-2 real-search-bar">
                                            <button class="btn car-search-icon" type="submit">Search Properties</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Search Filter Section -->
<!-- Featured Listings -->
<section class="featured-listing-section ">
    <div class="footer-six-bg footer-nine-bg">
        <img src="~/assets/img/bg/feature-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-3"></div>
                <div class="col-lg-4 col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Featured Listings</h2>
                    <p>The most trendy accommodations available</p>
                </div>
                <div class="col-lg-4 col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a href="categories.html" class="btn  btn-view">View all Properties</a>
                </div>
            </div>
        </div>
        <div class="row aos" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12">
                <div class="car-class-carousel">
                    <div class="real-featured-listing owl-carousel owl-theme">
                        @foreach(var l in Model)
                        {
                            <div class="feature-rent">
                                <div class="feature-home-img">
                                    <a asp-controller="Listing" asp-action="Detail" asp-route-id ="@l.ListingId" ><img src="@l.Image" class="img-fluid" alt=""></a>
                                </div>
                                <div class="green-logo">
                                    <img src="~/assets/img/featured/feature-text-logo.png" class="img-fluid" alt="">
                                </div>
                                <div class="select-favourite-room">
                                    <div class="favourite-small-user">
                                        <img src="~/@l.User.Image" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="home-img-text">
                                    <div class="star-rated">
                                        <span>@(l.Ratings.Any() ? l.Ratings.Average(r => r.RatingValue).ToString("0.0") : "0.0")  <i class="fa-solid fa-star"></i></span>
                                    </div>
                                    <h3><a asp-controller="Listing" asp-action="Detail" asp-route-id ="@l.ListingId" >@l.Title</a></h3>
                                    <div class="top-room-details">
                                        <div class="area">
                                            <span>$ @string.Format("{0:N2}", @l.Price)</span>
                                        </div>
                                        <div class="area">
                                            <span><i class="feather-map-pin"></i>@l.City.Name</span>
                                        </div>
                                    </div>
                                    <div class="house-type">
                                        <span class="room-type"><i class="feather-home"></i>@l.Category.Name</span>
                                        <span class="double-tick"><i class="fa-solid fa-check-double"></i></span>
                                    </div>
                                </div>
                            </div>
                        }                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Featured Listings -->
<!-- Why Choose Us -->
<section class="real-why-us">
    <div class="real-why-us-floating-bg">
        <img src="~/assets/img/bg/why-us-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Why Choose Us</h2>
                    <p>We provide full service at every step.</p>
                </div>
                <div class="col-md-4 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                </div>
            </div>
        </div>
        <div class="row aos" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="~/assets/img/icons/why-us-1.svg" alt="img"></span>
                    <h6>Trusted By Thousands</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="~/assets/img/icons/why-us-2.svg" alt="img"></span>
                    <h6>Wide Range Of Properties</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="~/assets/img/icons/why-us-3.svg" alt="img"></span>
                    <h6>Financing Made Easy</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="choose-set">
                    <span><img src="~/assets/img/icons/why-us-4.svg" alt="img"></span>
                    <h6>See Neighborhoods</h6>
                    <p>With over 1 million+ homes for sale available on the website, Listee can match you with a house you will want to call home.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Why Choose Us -->
<!-- Recent Properties for Rent -->
<section class="property-for-rent ">
    <div class="footer-six-bg footer-nine-bg">
        <img src="assets/img/bg/feature-bg.png" alt="">
    </div>
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 aos aos-init aos-animate text-center" data-aos="fade-up">
                    <h2>Recent Properties for Rent</h2>
                    <p>Sense Solutions For All Aspects near your Location.</p>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a href="categories.html" class="btn  btn-view">View all Properties</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="car-class-carousel">
                    <div class="top-listings-rent-slider owl-carousel" data-aos="fade-right">
                        @foreach (var l in Model)
                        {
                            <div class="top-rent-room">
                                <div class="top-room-img">
                                    <a asp-controller="Listing" asp-action="Detail" asp-route-id="@l.ListingId"><img src="@l.Image" class="img-fluid" alt=""></a>
                                </div>
                                <div class="top-listing-rounded-img">
                                    <div class="favourite-small-user">
                                        <img src="@l.User.Image" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pent-house">
                                    <span>@l.Category.Name</span>
                                </div>
                                <div class="top-rent-room-info">
                                    <div class="top-rent-room-location">
                                        <div class="room-address">
                                            <span><i class="fa-solid fa-location-dot"></i>@l.City.Name</span>
                                            <a asp-controller="Listing" asp-action="Detail" asp-route-id="@l.ListingId"><h5>@l.Title</h5></a>
                                        </div>
                                        <div class="star-rated">
                                            <span>
                                                @(l.Ratings.Any() ? l.Ratings.Average(r => r.RatingValue).ToString("0.0") : "0.0")  <i class="fa-solid fa-star"></i>
                                            </span>
                                            <p><span>$ @string.Format("{0:N2}", @l.Price)</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Recent Properties for Rent -->
<!-- Premium and essential services -->
<section class="premium-and-essential-services">
    <div class="preminum-float-bg">
        <img src="~/assets/img/bg/premium-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="premium-header text-center aos" data-aos="fade-up">
                    <h2>Premium and essential services in Listee, contributing to enhancing residents' life experience</h2>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-1.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Add your listing</h6>
                        <p>Easily create and share your property, product, or service listings to reach more customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="400">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-2.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Easy Finance</h6>
                        <p>Simplify financial tasks with tools for payments, invoicing, and secure transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="600">
                <div class="listee-premium">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-3.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Publish your listing</h6>
                        <p>Make your listing live and visible to attract the right audience quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="200">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-4.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Register for free</h6>
                        <p>Sign up at no cost and unlock powerful tools to grow your online presence.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="400">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-5.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Get reservations</h6>
                        <p>Receive bookings and inquiries effortlessly through our streamlined system.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos" data-aos="fade-up" data-aos-delay="600">
                <div class="listee-premium bottom-list-premium ">
                    <div class="listee-premium-img">
                        <span><img src="~/assets/img/icons/service-6.svg" alt="img"></span>
                    </div>
                    <div class="listee-premium-content">
                        <h6>Upload beautiful images</h6>
                        <p>Add stunning images to highlight your offerings and draw more attention.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Premium and essential services -->
<!-- Join Us -->
<section class="buy-property aos" data-aos="fade-up">
    <div class="container">
        <div class="buy-property-content">
            <h2 class="aos" data-aos="fade-up" data-aos-delay="200">Join the millions getting more from their home.</h2>
            <p class="aos" data-aos="fade-up" data-aos-delay="400">With Listee, you can track properties you’re interested in and use our price estimates to help you decide when to move. And get expert tips on making the most of your space.</p>
            <a asp-controller="listing" asp-action="index" >List Your Space</a>
        </div>
    </div>
</section>
<!-- /Join Us -->
<!-- Recent Articles -->
<section class="property-articles ">
    <div class="container">
        <div class="section-heading section-heading-nine  aos" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-md-9 aos aos-init aos-animate" data-aos="fade-up">
                    <h2>Blogs</h2>
                </div>
                <div class="col-md-3 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                    <a href="categories.html" class="btn  btn-view">View all Blog</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
                <div class="car-class-carousel">
                    <div class="owl-carousel blog-slider">
                        @{var blogs = ViewBag.Blogs as IEnumerable<DataAccessLayer_DAL.Models.Blog>;}
                        @if (blogs != null && blogs.Any())
                        {
                            foreach (var blog in blogs)
                            {
                                <div class="blog grid-blog blog-two aos" data-aos="fade-up">
                                    <div class="blog-image">
                                        <a asp-action="Details" asp-controller="Blog" asp-route-id="@blog.BlogId">
                                            <img class="img-fluid" src="@blog.Image" alt="Post Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <h3 class="blog-title">
                                            <a asp-action="Details" asp-controller="Blog" asp-route-id="@blog.BlogId">@blog.Title</a>
                                        </h3>
                                        <ul class="entry-meta meta-item">
                                            <li class="date-icon">
                                                <i class="feather-calendar"></i> @blog.CreatedAt?.ToString("MMMM d, yyyy")
                                            </li>
                                        </ul>
                                        @* <p class="blog-description">@blog.Content</p> *@
                                        <div class="viewlink">
                                            <a asp-action="Details" asp-controller="Blog" asp-route-id="@blog.BlogId">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No blogs available.</p>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Recent Articles -->
<!-- Become Agent -->
<section class="join-us-dealer join-us-dealer-sec ">
    <div class="join-us-dealer-bg home-nine-bg">
        <img src="~/assets/img/bg/agent-bg.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center aos" data-aos="fade-up">
            <div class="col-lg-6 col-md-12">
                <div class="joinus-dealer-content">
                    <h3 class="aos" data-aos="fade-up" data-aos-delay="200">Become a Real Estate Agent</h3>
                    <p class="aos" data-aos="fade-up" data-aos-delay="300">Premium and essential services in Listee, contributing to enhancing residents' life experience</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="join-as-dealer-btn">
                    <a asp-controller="Home" asp-action="SignUp">Go to</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Become Agent -->
