@{
    ViewData["title"] = "Home Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user.svg" alt="img"></span>
                            <h6>Private Sellers</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser0">@ViewBag.CountUser0</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-provider">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user-circle.svg" alt="img"></span>
                            <h6>Agents</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser1">@ViewBag.CountUser1</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-service">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/service.svg" alt="img"></span>
                            <h6>Listings</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountListing">@ViewBag.CountListing</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-subscription">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/money.svg" alt="img"></span>
                            <h6>Subscription</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountTransaction">@ViewBag.CountTransaction</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="myfirstchart" style="height: 250px;"></div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 d-flex widget-path">
        <div class="card">
            <div class="card-body">
                <div class="home-user">
                    <div class="home-head-user home-graph-header">
                        <h2>Top Services</h2>
                        <a href="listings.html" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                    <div class="table-responsive datatable-nofooter">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Service</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a href="view-service.html" class="table-imgname">
                                            <img src="~/assets/admin/assets/img/services/service-03.jpg" class="me-2" alt="img">
                                            <span>Computer Repair</span>
                                        </a>
                                    </td>
                                    <td>Computer</td>
                                    <td>$80</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <a href="view-service.html" class="table-imgname">
                                            <img src="~/assets/admin/assets/img/services/service-02.jpg" class="me-2" alt="img">
                                            <span>Car Repair Services</span>
                                        </a>
                                    </td>
                                    <td>Automobile</td>
                                    <td>$50</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <a href="view-service.html" class="table-imgname">
                                            <img src="~/assets/admin/assets/img/services/service-04.png" class="me-2" alt="img">
                                            <span>Car Wash</span>
                                        </a>
                                    </td>
                                    <td>Automobile</td>
                                    <td>$14</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <a href="view-service.html" class="table-imgname">
                                            <img src="~/assets/admin/assets/img/services/service-09.jpg" class="me-2" alt="img">
                                            <span>House Cleaning </span>
                                        </a>
                                    </td>
                                    <td>Cleaning</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <a href="view-service.html" class="table-imgname">
                                            <img src="~/assets/admin/assets/img/services/service-10.jpg" class="me-2" alt="img">
                                            <span>Interior </span>
                                        </a>
                                    </td>
                                    <td>Cleaning</td>
                                    <td>$50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex widget-path">
        <div class="card">
            <div class="card-body">
                <div class="home-user">
                    <div class="home-head-user home-graph-header">
                        <h2>Top Providers</h2>
                        <a href="user-providers.html" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                    <div class="table-responsive datatable-nofooter">
                        <table class="table datatable ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Provider Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="~/assets/admin/assets/img/customer/user-06.jpg" class="me-2" alt="img">
                                            <span>Robert</span>
                                        </a>
                                    </td>
                                    <td><a href="https://listee.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8af8e5e8eff8fecaede7ebe3e6a4e9e5e7">[email&#160;protected]</a></td>
                                    <td>+1 347-679-8275</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="~/assets/admin/assets/img/customer/user-09.jpg" class="me-2" alt="img">
                                            <span>Sharonda</span>
                                        </a>
                                    </td>
                                    <td><a href="https://listee.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="31425950435e5f555071565c50585d1f525e5c">[email&#160;protected]</a></td>
                                    <td>+1 570-621-248</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="~/assets/admin/assets/img/customer/user-01.jpg" class="me-2" alt="img">
                                            <span>John Smith</span>
                                        </a>
                                    </td>
                                    <td><a href="https://listee.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fa909592948997938e92ba9d979b9396d4999597">[email&#160;protected]</a></td>
                                    <td>+1 646-957-0004</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="~/assets/admin/assets/img/customer/user-05.jpg" class="me-2" alt="img">
                                            <span>Pricilla</span>
                                        </a>
                                    </td>
                                    <td><a href="https://listee.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1e6e6c777d7772727f5e79737f7772307d7173">[email&#160;protected]</a></td>
                                    <td>+1 614-915-8101</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="~/assets/admin/assets/img/customer/user-09.jpg" class="me-2" alt="img">
                                            <span>James</span>
                                        </a>
                                    </td>
                                    <td><a href="https://listee.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ef858e828a9caf88828e8683c18c8082">[email&#160;protected]</a></td>
                                    <td>+1 918-543-3702</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function (){
            $.ajax({
                url: "@Url.Action("GetChartData","Home")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var chartData = data.map(function (item) {
                        return {
                            date: item.date,
                            price: item.price
                        };
                    });
                      new Morris.Line({
                      element: 'myfirstchart',
                      data: chartData,
                      xkey: 'date',
                      xLabelFormat: function(x) {
                          return new Date(x).toLocaleDateString();
                      },
                      ykeys: ['price'],
                      labels: ["Price"]
                    });
                },
                error: function(error){
                    console.error("Error Data", error);
                }
            });
        });
    </script>
}