@{
    ViewData["title"] = "Home Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user.svg" alt="img"></span>
                            <h6>Private Sellers</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser0">@ViewBag.CountUser0</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-provider">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user-circle.svg" alt="img"></span>
                            <h6>Agents</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser1">@ViewBag.CountUser1</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-service">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/service.svg" alt="img"></span>
                            <h6>Listings</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountListing">@ViewBag.CountListing</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-subscription">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/money.svg" alt="img"></span>
                            <h6>Subscription</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountTransaction">@ViewBag.CountTransaction</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="home-head-user">
            <h2>Dashboard</h2>
            <div id="no-data-message1" style="display: none; text-align: center; color: gray; font-size: 16px;">
                No data available to display.
            </div>
            <select class="btn filter-select">
                <option>Filter</option>
                <option value="7">Week</option>
                <option value="30">Month</option>
                <option value="90">3 Month</option>
                <option value="180">6 Month</option>
                <option value="365">Year</option>
            </select>
        </div>
        <div id="myfirstchart" style="height: 250px;"></div>
        
    </div>
    <div class="card">
        <div class="home-head-user">
            <h2>Price</h2>
            <div id="no-data-message2" style="display: none; text-align: center; color: gray; font-size: 16px;">
                No data available to display.
            </div>
            <select class="btn filter-select2">
                <option>Filter</option>
                <option value="7">Week</option>
                <option value="30">Month</option>
                <option value="90">3 Month</option>
                <option value="180">6 Month</option>
                <option value="365">Year</option>
            </select>
        </div>
        <div id="mychart" style="height: 250px;"></div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function (){
            var ChartMorris = new Morris.Line({
                 element: 'myfirstchart',
                 data: [],
                 xkey: 'date',
                 ykeys: ['transaction','listing','user'],
                 labels: ["Number of packages sold","Number of new ads","New users"]
            });

            $.ajax({
                url: "@Url.Action("GetChartData", "Home")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if(data && data.length > 0){
                        ChartMorris.setData(data.map(function (item) {
                            return {
                                date: item.date,
                                transaction: item.transaction,
                                listing: item.listing,
                                user: item.user
                            };
                        }));
                        $('#no-data-message1').hide();
                        $('#myfirstchart').show();// Ẩn thông báo nếu có dữ liệu
                    }
                    else
                    {
                        $('#myfirstchart').hide(); // Ẩn biểu đồ
                        $('#no-data-message1').show(); // Hiển thị thông báo
                    }
                },
                error: function (error) {
                    console.error("Error loading data:", error);
                    $('#myfirstchart').hide(); // Ẩn biểu đồ nếu xảy ra lỗi
                    $('#no-data-message1').text("An error occurred while loading data.").show();}
                });

            $('.filter-select').on('change', function()
            {
               var days = $(this).val();
               var endDate = new Date();
               var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);
               $.ajax({
                    url: "@Url.Action("GetChartDataBySelect", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        startDate: startDate.toISOString().split('T')[0],
                        endDate: endDate.toISOString().split('T')[0]
                    },
                    success: function(data){
                        if(data && data.length > 0){
                            ChartMorris.setData(data.map(function(item)
                            {
                                return {
                                    date: item.date,
                                    transaction: item.transaction,
                                    listing: item.listing,
                                    user: item.user
                                };
                            }));
                            $('#no-data-message1').hide(); // Ẩn thông báo nếu có dữ liệu
                            $('#myfirstchart').show();
                        }
                        else
                        {
                            $('#myfirstchart').hide(); // Ẩn biểu đồ
                            $('#no-data-message1').show(); // Hiển thị thông báo
                        };
                    },
                    error: function (error) {
                        console.error("Error loading data:", error);
                        $('#myfirstchart').hide(); // Ẩn biểu đồ nếu xảy ra lỗi
                        $('#no-data-message1').text("An error occurred while loading data.").show();}
               });
            });
          });

        //
        $(document).ready(function (){
            var ChartMorris2 = new Morris.Bar({
                 element: 'mychart',
                 data: [],
                 xkey: 'date',
                 ykeys: ['price'],
                 labels: ["Total amount"]
            });

            $.ajax({
                url: "@Url.Action("GetChartData2", "Home")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if(data && data.length > 0){
                        ChartMorris2.setData(data.map(function (item) {
                            return {
                                date: item.date,
                                price: item.price,
                            };
                        }));
                        $('#no-data-message2').hide(); // Ẩn thông báo nếu có dữ liệu
                        $('#mychart').show();
                    }
                    else
                    {
                        $('#mychart').hide(); // Ẩn biểu đồ
                        $('#no-data-message2').show(); // Hiển thị thông báo
                    }
                    },
                  error: function (error) {
                        console.error("Error loading data:", error);
                        $('#mychart').hide(); // Ẩn biểu đồ nếu xảy ra lỗi
                        $('#no-data-message2').text("An error occurred while loading data.").show(); // Thông báo lỗi
                    }
            });

            $('.filter-select2').on('change', function()
            {
               var days = $(this).val();
               var endDate = new Date();
               var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);
               $.ajax({
                    url: "@Url.Action("GetChartDataBySelect2", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        startDate: startDate.toISOString().split('T')[0],
                        endDate: endDate.toISOString().split('T')[0]
                    },
                    success: function(data){
                        if(data && data.length > 0){
                            ChartMorris2.setData(data.map(function(item)
                            {
                                return {
                                    date: item.date,
                                    price: item.price,
                                };
                            }));
                            $('#no-data-message2').hide();
                            $('#mychart').show();
                        }
                        else
                        {
                            $('#mychart').hide(); // Ẩn biểu đồ
                            $('#no-data-message2').show(); // Hiển thị thông báo
                        };
                    },
                    error: function (error) {
                        console.error("Error loading data:", error);
                        $('#mychart').hide(); // Ẩn biểu đồ nếu xảy ra lỗi
                        $('#no-data-message2').text("An error occurred while loading data.").show(); // Thông báo lỗi
                    }
               });
            });
        });
    </script>
}