@{
    ViewData["title"] = "Home Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user.svg" alt="img"></span>
                            <h6>Private Sellers</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser0">@ViewBag.CountUser0</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-provider">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/user-circle.svg" alt="img"></span>
                            <h6>Agents</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountUser1">@ViewBag.CountUser1</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-service">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/service.svg" alt="img"></span>
                            <h6>Listings</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountListing">@ViewBag.CountListing</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
        <div class="card">
            <div class="card-body">
                <div class="home-user home-subscription">
                    <div class="home-userhead">
                        <div class="home-usercount">
                            <span><img src="~/assets/admin/assets/img/icons/money.svg" alt="img"></span>
                            <h6>Subscription</h6>
                        </div>
                    </div>
                    <div class="home-usercontent">
                        <div class="home-usercontents">
                            <div class="home-usercontentcount">
                                <span class="counters" data-count="@ViewBag.CountTransaction">@ViewBag.CountTransaction</span>
                            </div>
                            <h5> Current All</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="home-head-user">
            <h2>Dashboard</h2>
            <select class="btn filter-select">
                <option>Filter</option>
                <option value="1">Day</option>
                <option value="7">Week</option>
                <option value="30">Month</option>
                <option value="90">3 Month</option>
                <option value="180">6 Month</option>
                <option value="365">Year</option>
            </select>
        </div>
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
    <div class="card">
        <div class="home-head-user">
            <h2>Price</h2>
            <select class="btn filter-select2">
                <option>Filter</option>
                <option value="1">Day</option>
                <option value="7">Week</option>
                <option value="30">Month</option>
                <option value="90">3 Month</option>
                <option value="180">6 Month</option>
                <option value="365">Year</option>
            </select>
        </div>
        <div id="mychart" style="height: 250px;"></div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function (){
            var ChartMorris = new Morris.Line({
                 element: 'myfirstchart',
                 data: [],
                 xkey: 'date',
                 ykeys: ['transaction','listing','user'],
                 labels: ["so luong goi ban ra","so luong quang cao","new user"]
            });

            $.ajax({
                url: "@Url.Action("GetChartData", "Home")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if(data){
                        ChartMorris.setData(data.map(function (item) {
                            return {
                                date: item.date,
                                transaction: item.transaction,
                                listing: item.listing,
                                user: item.user
                            };
                        }));
                    }
                    else
                    {
                        console.warn("no data.");
                        ChartMorris.setData([]);
                    }
                },
                error: function(error){
                    console.error("Error Data", error);
                }
            });

            $('.filter-select').on('change', function()
            {
               var days = $(this).val();
               var endDate = new Date();
               var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);
               // alert(startDate);
               // alert(endDate);
               $.ajax({
                    url: "@Url.Action("GetChartDataBySelect", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        startDate: startDate.toISOString().split('T')[0],
                        endDate: endDate.toISOString().split('T')[0]
                    },
                    success: function(data){
                        if(data){
                            ChartMorris.setData(data.map(function(item)
                            {
                                return {
                                    date: item.date,
                                    transaction: item.transaction,
                                    listing: item.listing,
                                    user: item.user
                                };
                            }));
                        }
                        else
                        {
                            console.warn("no data.");
                            ChartMorris.setData([]);
                        };
                    },
                    error: function(error){
                        console.error("Error Data", error);
                    }
               });
            });
        });

        //
        $(document).ready(function (){
            var ChartMorris2 = new Morris.Bar({
                 element: 'mychart',
                 data: [],
                 xkey: 'date',
                 ykeys: ['price'],
                 labels: ["tong tien"]
            });

            $.ajax({
                url: "@Url.Action("GetChartData2", "Home")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if(data){
                        ChartMorris2.setData(data.map(function (item) {
                            return {
                                date: item.date,
                                price: item.price,
                            };
                        }));
                    }
                    else
                    {
                        console.warn("no data.");
                        ChartMorris2.setData([]);
                    }
                },
                error: function(error){
                    console.error("Error Data", error);
                }
            });

            $('.filter-select2').on('change', function()
            {
               var days = $(this).val();
               var endDate = new Date();
               var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);
               // alert(startDate);
               // alert(endDate);
               $.ajax({
                    url: "@Url.Action("GetChartDataBySelect2", "Home")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        startDate: startDate.toISOString().split('T')[0],
                        endDate: endDate.toISOString().split('T')[0]
                    },
                    success: function(data){
                        if(data){
                            ChartMorris2.setData(data.map(function(item)
                            {
                                return {
                                    date: item.date,
                                    price: item.price,
                                };
                            }));
                        }
                        else
                        {
                            console.warn("no data.");
                            ChartMorris2.setData([]);
                        };
                    },
                    error: function(error){
                        console.error("Error Data", error);
                    }
               });
            });
        });
    </script>
}